<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="Scripts/estiloCss.css">
    <title>Tela Sobre</title>
</head>
<body>
<div class="topo"> <!--topnav-->
  <a class="active" href="#home">Home</a>
  <a href="#">Sobre</a>
  <a href="#">Equipe</a>
  <a href="#">Contato</a>
  <button id="botao-login2">Login</button>
  <br><br>
 <center><div id="folheto">
   <img src="Imagens/TelaSobre/catioro.png" id="folhefotos">
   <img src="Imagens/TelaSobre/ratinho.png" id="folhefotos2">
      <img src="Imagens/TelaSobre/dog.jpg" id="folhefotos3">
 </div></center>
</div>	
     <div id="meio00"></div>
<div id="esquerda">
  <img src="Imagens/logo1.png" id="logo">
  <p id="boasVindas"><b>Bem Vindos ao <br> Profile Pet<b></p>
  <font id="frase">Cuidar do seu pet nunca foi tão fácil!</font>
  <br><br>
        <a href="tela-cadastro-usuario">
        <button id="botao-cadastrar">Cadastrar</button>
        </a>
        <a href="tela-login-usuario">
        <button id="botao-login">Login</button>
        </a>
</div>  
  <br><br><br>
  <div id="meio">
     <img src="Imagens/TelaSobre/figuras.png" width="580" height="580">
     <div id="sobree1">
     <h1 id="SO">Sobre</h1>  
     <p id="sobree">O Profile Pet tem intuito de auxiliar tutores, que tem dificuldade em <br> controlar algumas situações que envolve a saúde, como o histórico de consultas e cirurgias que o Pet já teve ou terá,<br> controle de medicamentos que trata atualmente ou já tratou no passado, além de algumas informações sobre o Pet</p>
     </div>
  </div>
         
  <div id="penultima">
      <img src="Imagens/TelaSobre/fofo.jpg" id="imagem3"></div>
   <div id="antepenultima"></div>

        <div id="rodape"></div>  
</body>
</html>