*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #00AFB9;
    font-family: Georgia;
}

h2{
    font-family: Arial;
    text-align: center;
}
.formulario{
    background-color: white;
    left: 47%;
    margin: 3%;
    position: absolute;
    padding: 0%;
    border-radius: 20px;
    box-shadow: 0 5 px 25px tgba(0,0,0 0.2);
    text-align: center;
    width: 35%;
    height: 87%;

}
.formulario .Text{
    width: 80%;
    height: 30px;
    position: relative;
    margin-bottom: 19px;
    border-radius: 5px;
    
}
.formulario .Nome{
    position: relative;
    width: 80%;
    height: 30px;
    margin-bottom: 19px;
    border-radius: 5px;
}
.formulario .Selects{
    position: relative;
    width: 40%;
    height: 30px;
    margin-bottom: 19px;
    border-radius: 5px;
}
.formulario .botoes{
    position: relative;
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
    background-color:  #00AFB9;
    border-color: white;
    font-family: arial;

}
.imagem{
    width: 35%;
    height: 30%;
    margin: 3%;
    margin-left: 15%;
    float: left;
}
.formulario .Cidade{
    position: relative;
    width: 250px;
    height: 30px;
    margin-bottom: 19px;
}
.formulario .Estado{
    position: relative;
    width: 40px;
    height: 30px;
    margin-bottom: 22px;
}




