<!DOCTYPE html>
<html lang=“pt-br”>
<head>
<meta charset=“utf-8”/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="imagem/png" href="Imagens/TelaSobre/logoAba.png" />

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
 crossorigin="anonymous"></script>

<title>Profile Pet</title>
<link rel="stylesheet" type="text/css" href="Scripts/CSS/Principal.css">
<script src=“scripts/seu-script.js”></script>
</head>
<body>
  <div id="Menu">
    <p> 
      <a href="#Cu">Curiosidades</a>
      <a href="tela-cadastro-animal">Cadastro Animal</a> 
      <a href="tela-consulta-animal">Pets</a> 
      <a href="">Reportar</a>
    </p>
    <p id="saida"><a href="./">Sair</a></p>
  </div>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Imagens/TelaPrincipal/prin00.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="Imagens/TelaPrincipal/prin01.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="Imagens/TelaPrincipal/prin02.png" class="d-block w-100" 
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="div_consulta">
        <h2 id="titulo-consulta"><b>Consultas</b></h2>
               <p id="frase-consulta">As consultas são importantes para ver como esta saúde de seu pet,<br> 
               com as consultas e os exames em dia, seu pet é mais feliz.<br>
               Veja as consultas marcadas.</p>
        <img src="Imagens/TelaPrincipal/consulta.png" id="quadro-consulta" width="400" height="550">
        <a href="Perfil.html">
        <button id="btn-consulta">Consultar</button>
        </a>
        </div>
        
       <img src="Imagens/TelaPrincipal/banner.png" id="banner-consulta">
        <br>
        <div id="div_vacina">
            <h2 id="titulo-vacina"><b>Vacinação</b></h2>
                <p id="frase-vacina">As vacinas previne os pet de contágios de doenças e isso permite <br> 
                que o pet tenha uma vida equilibrada e fora de risco.<br>
                Veja as vacinas do seu pet.</p>
            <img src="Imagens/TelaPrincipal/vacina.png" id="quadro-vacina" width="400" height="550">
            <a href="Perfil.html">
            <button id="btn-vacina">Vacinas</button>
            </a>
        </div>
        <br>    
        
        <center><img src="Imagens/TelaPrincipal/Profilepet.gif" id="curiosidade"><a name="Cu"></a></center> 

       
        <div id="div_medicacao">
          <h2 id="titulo-medicacao"><b>Medicações</b></h2>
                 <p id="frase-medicacao">Os medicamentos veterinários facilitam e auxilia no tratamento <br>
                  dependendo da situação do pet. A dosagem é conforme peso, idade do animal.<br> 
                  Anote as medicações do seu pet.</p>
          <img src="Imagens/TelaPrincipal/medicacao.png" id="quadro-medicacao" width="400" height="550">
          <a href="Perfil.html">
          <button id="btn-medicacao">Medicação</button>
          </a>
          </div>

          <div id="rodape">
            <p id="letra-rodape">
              <a href="Perfil.html">Perfil</a>
              <a href="#Cu">Curiosidades</a>
              <a href="Diagnostico.html">Diagnosticos</a> 
              <a href="Consulta.html">Consulta</a> 
              <a href="Medicacao.html">Medicação</a> 
              <a href="">Reportar</a> 
              <a href="https://instagram.com/profile_pett?igshid=YmMyMTA2M2Y=">@profile_pett</a> 
            </p>
          </div>
          
        
 

 
</body>
</html>
