/*Body*/
body.fundo{
  background-color: #00AFB9;
  font-family: 'Josefin', sans-serif;
}

/*Label*/
label{
  margin-left: 30px;
}
select#txtEspecie{
  width: 50%;
  margin-left: 8%;
}

/*H1 - Cadastrar Animal*/
H1{
 margin-top: 20px;
 margin-left: 30px;
 font-size: 20px;
 font-family: 'Josefin', sans-serif;
 color: #1A202C;
}

/*Menu*/
.topo {
  background: #050A30;
  width: 100%;
  height: 60px;
  position: relative;
  
}
input#formFile {
  width: 50%;
  margin-left: 8%;
}

/*Input do nome*/
#nome{
  width: 50%;
  height: 30px;
  margin-left: 8%;

}
select.temperamento{
  margin-left: 8%;
  width: 50%;
}
.raca{
  margin-left: 16%;
}
select#txtRaca {
  margin-left: 8%;
  width: 50%;
}
button.btn.btn-primary.botoes {
  background-color: #00AFB9;
  border: #00AFB9;
}

/*Posição das letras do menu*/
.topo a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  left: 60px;
  top: 5px;
}


/*Div Cadastro*/
#cadastro{
  margin-top: -65px;
  background-color: white;
  position: absolute; 
  width: 34%;
  height: 74%;
  top: 70%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: inline-table;
}
#cadastro label {
  margin-left: 8%;
  display: block;
}
.d-grid.gap-2.col-6.mx-auto.botoesDiv {
  margin: 3%;
}
/*Onde insere a imagem do animal*/
#fotoAnimal{
  background-color: silver;
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 15px;
  left: 85%;
  margin-top: 25px;

}

/*Label especie, arrumando a posição*/
#especie{
  margin-left: 250px;

}

/*Input data, arrumando a posição*/
#calendario{
  margin-left: 8%;
}

/*Label data nascimento, arrumando a posição*/
#data{
  margin-left: 188px;
}

/*Botão cadastra*/
#botao-cadastra{
    background-color: #00AFB9;
    border: none;
    padding: 15px;
    width: 50%;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-left: 14%;
    position: relative;
    right: -10%;
            
}

/*Input´s*/
.login{
    width: 200px;
    height: 30px;
    margin-left: 40px;
 

}

/*Rodapé*/
#rodape{
  height: 70px;
  width: 100%;
  background-color: #050A30;
  margin-top: 59%;

}

/*Escritura rodapé - 2022 Profile Pet*/
#letras-rodape{
    font-size: 12px;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    left: 25px;
}

/*Escritura rodape 2 - Instagram link*/
#letras-rodape2{
    font-size: 12px;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    left: 83%;
}

/*Icone do instagram*/
.fa-brands, .fab {
  float: right;
  font-weight: 400;
  margin-top: 1.5%;
  margin-right: 9%;
}
